<div id="form">
  <form id="searchform" method="get" action="#">
    <input type="text" id="search" size="120" placeholder="Search for Movies, Music or Games">
    <input type="submit" value="Search" class="search_btn">
  </form>
</div>

