<div id="form">
  <form id="searchform" method="get" action="http://www.google.com">
          <input type="text" id="search" size="120" value="Search for Movies, Music or Games"><input type="submit" value="Search" class="search_btn">
  </form>
</div>

